<div id="cursor-follower">
    <div class="round-cursor"></div>
    <div class="plus-cursor"></div>
    <div class="cross-cursor">
        <div class="x-bar"></div>
        <div class="x-bar"></div>
    </div>
    <!--    <div class="plus-cursor-info">Voir</div>-->
    <div class="progress-cursor">
        <svg height="40" width="40">
            <circle id="loadcircle" cx="20" cy="20" r="15" stroke-width="3" fill="none" />
        </svg>
    </div>
</div>
