<section class="content-wrapper project-details">
    <div class="pan left">
        <div class="title">
            <h1>Locked in 60'</h1>
            <h2>"Escape game d'exception"</h2>
        </div>
    </div>
    <div class="pan right">
        <div class="description-wrapper">

        </div>
    </div>

</section>
