<div class="content-wrapper project-details" is="project-details">
    <div class="pan-left">
        <div class="title">
            <h1>Locked in 60'</h1>
            <h2>"Escape game d'exception"</h2>
        </div>
    </div>
    <div class="pan-right">
        <div class="description-wrapper">
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
            hey <br>
        </div>
    </div>

</div>
