<div class="content-wrapper project-details">
    <div class="pan-left">
        <div class="title">
            <h1>Locked in 60'</h1>
            <h2>"Escape game d'exception"</h2>
        </div>
        <div class="specs">
            <div class="title">Caractéristiques du projet</div>
            <div class="specs-list">
                <div class="spec">
                    <div class="techno t-css"></div>
                    <div class="name">CSS</div>
                </div>
                <div class="spec">
                    <div class="techno t-jquery"></div>
                    <div class="name">jQuery</div>
                </div>
                <div class="spec">
                    <div class="techno t-ajax"></div>
                    <div class="name">Ajax</div>
                </div>
                <div class="spec">
                    <div class="techno t-no-responsive"></div>
                    <div class="name">PC Uniquement</div>
                </div>
            </div>
        </div>
        <div class="infos">
            Juin 2019 | Réalisé en DUT MMI
        </div>
        <div class="nav-projects">
            <a href="/<%=project.type%>" is="cursor-link" cursor-class="closing" class="i-link back">
<!--                retour-->
                <div class="cross">
                    <div class="x-bar"></div>
                    <div class="x-bar"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="pan-right">
        <div class="description-wrapper">
            <div class="images template-1">
                <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-1.jpg" alt="" class="img-project"></a>
                <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-3.jpg" alt="" class="img-project"></a>
                <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-6.jpg" alt="" class="img-project"></a>
            </div>
            <div class="description">
                <p>Ce <b>site vitrine</b> a été réalisé dans le cadre d'un projet de groupe en première année de DUT MMI. Le but: une semaine pour réaliser un produit de communication complet pour un client fictif, ici un Escape-Game.</p>
                <p>J'étais responsable de la gestion de projet, et du site Internet. </p>
                <p>Nous avons choisi de faire un site "one-page", avec une navigation en AJAX. Cela nous permet d'avoir une expérience utilisateur fluide. Le menu utilise un concept en "off-canvas", dans une recherche d'originalité.</p>
            </div>
            <div class="links">
                <a href="https://locked-in-60.cf/" class="slide-link" data-slided="ww.locked-in-60.cf" is="cursor-link" cursor-class="hover1">Visiter le site</a>
            </div>
        </div>
    </div>

</div>
