<div class="c404">
    <h1>erreur 404</h1>
    <h2>oh! un voyageur égaré!</h2>
    <p>Cette page est introuvable... <a href="/" is="cursor-link" cursor-class="hover1" class="i-link"><u>Revenir en lieu sûr</u></a></p>
</div>
