<div id="profile">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <p class="profile-desc">
                    Bonjour, je suis Léo Boyer et j'ai  19 ans. Je suis passionné depuis plus de 7 ans par le web, l'informatique et l'audiovisuel, et par la création. Je me forme actuellement en DUT <b>Métiers du Multimédia et de l'Internet</b> à Grenoble, et j'aimerais m'orienter vers un métier dans le développement, qui me permette d'exercer ma créativité.
                </p>
            </div>
            <div class="col-3">
                <div class="profile-img"></div>
            </div>
        </div>
    </div>
</div>
