@import './globals/breakpoints';
@import './globals/colors';
@import '../fonts/MontserratRaleway.css';

@import "./modules/menu";
@import "./modules/louwp";
@import "./modules/ext-page";
@import "./modules/portfolio-category";

body {
  font-family: 'Raleway', sans-serif;
  //cursor: none;
  overflow: hidden;
}
#page-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  //&.ext-page {
  //  transition-delay: .9s;
  //  display: none;
  //}
}
#home {
  //position: fixed;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  #home-content-wrapper {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    #home-text-wrapper {
      color: #101010;
      font-family: 'Futura PT', sans-serif;
      font-weight: 400;
      font-size: 400%;

      #home-name {
        color: $theme-grey-dark;
        overflow: hidden;
        @for $i from 1 through 2 {
          .name:nth-child(#{$i}) {
            display: inline-block;
            animation: name-arrive .5s $transition-easing (($i - 1) * .05s) both;
          }
        }
        @keyframes name-arrive {
          from {
            transform: translate3d(0, 100%, 0);
          }
        }
      }
    }
    #home-portfolio-word {
      font-family: "arboria", sans-serif;
      font-weight: 600;
      font-size: 15vw;
      display: flex;
      align-items: baseline;
      color: $theme-main;
      .letter-path {
        fill: $theme-main;
      }
      .letter {
        img {
          height: 18vw;
          max-height: 200px;
        }

        margin: 0 2px;
        &.dot {
          font-size: 50%;
        }
      }
      @mixin animation-home-translate($name, $translate) {
        @keyframes #{$name} {
          from {
            opacity: 0;
            transform: translate3d($translate, 0, 0);
          }
        }
      }
      @for $i from 1 through 11 {
        @include animation-home-translate(letter-#{$i}, ($i - 2) * 30px);
        .letter:nth-child(#{$i}) {
          animation: letter-#{$i} 1s $transition-easing .1s both;
        }
      }
    }
    #arrow-scroll {
      position: absolute;
      left: 50%;
      bottom: 40px;
      width: 80px;
      cursor: pointer;
      transform: translate(-50%, 0);
      transition: all 0.5s cubic-bezier(.42, 0, .11, .98);
      outline: 0;
      &:hover {
        transform: translate(-50%, -20%);
      }

      .arrow-scroll-line {
        fill: none;
        stroke: $theme-grey-dark;
        stroke-width: 15;
        stroke-miterlimit: 10;
        stroke-dasharray: 1000;
        transform-origin: center center;
        stroke-dashoffset: 500;
        stroke-linecap: round;
        animation: tracer 2s cubic-bezier(.83, .01, .19, 1.01) backwards .3s;
        transition: all 0.8s cubic-bezier(.42, 0, .11, .98) 0.5s;
      }
      &.hidden .arrow-scroll-line {
        stroke-dashoffset: -400;
        transform: rotate(-100deg);
      }
    }

    @keyframes tracer {
      from {
        transform: translate(0, 100%) rotate(100deg);
        stroke-dashoffset: 1000;
      }
    }
  }
}

#homepage-content {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  overflow: hidden;
}

#mybio {
  position: relative;
  min-height:400px;

  #mybio-title {
    text-align: center;
    width: 100%;
    color: $theme-grey-dark;
    font-size: 6em;
    font-family: 'arboria', sans-serif;
    font-weight: 800;
    line-height: 1em;
    #line-1 {
      transform: translate(-50px, 0);
      transition: $scroll-moove-transitions;
    }
    #line-2 {
      transform: translate(50px, 0);
      transition: $scroll-moove-transitions;
    }
  }
  #mybio-content {
    padding-top: 50px;
    #mybio-photo {
      display: inline-block;
      width: 300px;
      height: 300px;
      margin: 0 50px;
      @include md() {
        margin: 0 50px 0 110px;
      }
      border-radius: 100%;
      position: relative;
      //&::before {
      //  transition: all .4s $transition-easing;
      //  content:'';
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  border-radius: 50%;
      //  background-color: $theme-grey-dark;
      //  z-index: 1;
      //  width: 100%;
      //  height: 100%;
      //  transform: scale(1.1);
      //}
      &::after {
        transition: all .4s $transition-easing;
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-image: url('../img/moi.jpg');
        background-size: cover;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
      img {
        z-index: 2;
      }
      //&:hover {
      //  &::before {
      //    transform: scale(1.15);
      //  }
      //  &::after {
      //    transform: scale(.95);
      //  }
      //}

    }
    .mybio-text, #mybio-hidden {
      color: $theme-grey-dark;
      padding: 60px 60px 60px 40px;
      @include md() {
        padding: 80px;
      }
      font-size: 1.8em;
      font-family: 'arboria', sans-serif;
      font-weight: 600;
    }
    #mybio-hidden {
      -webkit-text-stroke-width: 1px;
      color: #fff;
      -webkit-text-stroke-color: $theme-grey-dark;
    }

  }
}


#my-portfolio {
  position: relative;
  min-height: 400px;
  background-color: white;
  #my-portfolio-title {
    text-align: center;
    width: 100%;
    font-size: 6em;
    font-family: 'arboria', sans-serif;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: 1em;
    color: $theme-grey-dark;

    .line-1 {
      transform: translate(-50px, 0);
      transition: $scroll-moove-transitions;
    }
    .line-2 {
      transform: translate(50px, 0);
      transition: $scroll-moove-transitions;
    }
  }
  #my-portfolio-categories {
    display: flex;
    justify-content: space-around;flex-direction: column;
    @include md() {
      flex-direction: row;
    }
    .category {
      text-decoration: none;
      position: relative;
      flex-grow: 1;
      display: block;
      cursor: pointer;
      text-align: center;
      padding: 100px 50px;
      background-color: transparent;
      z-index: 0;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $theme-grey-dark;
        z-index: -1;
      }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $theme-main;
        z-index: -1;
        transform-origin: center bottom;
        transform: scale(1, 0);
        transition: $transition;
      }
      img {
        transition: $transition;
      }
      .category-content {
        img {
          width: 80px;
        }
        .category-name {
          font-weight: 600;
          font-size: 130%;
          color: #fff;
          transition: $transition;
        }
      }
      &:hover {
        &::after {
          transform: scale(1, 1);
        }
        img {
          filter: invert(.8)
        }
        .category-name {
          color: $theme-grey-dark;
        }
      }

    }
    #category-code {
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
}
#contact {
  #contact-title {
    color: $theme-grey-dark;
    text-align: center;
    font-size: 6em;
    font-family: 'arboria', sans-serif;
    font-weight: 800;
    line-height: 1em;
  }
  .lt {
    display: inline-block;
  }
}

//#cursor-pointer {
//  width: 8px;
//  height: 8px;
//  border-radius: 50%;
//  background-color: $theme-main;
//  transition: .5s $transition-easing;
//  transition-property: background-color, border, width, height, opacity;
//  border: solid transparent 2px;
//  &.hover1 {
//    background-color: transparent;
//    border: solid $theme-main 2px;
//    width: 25px;
//    height: 25px;
//  }
//  &.ext-page {
//    background-color: $theme-grey-dark;
//    &.hover1 {
//      border-color: $theme-grey-dark;
//    }
//  }
//}
#cursor-follower {
  box-sizing: border-box;
  padding: 0;
  $color1: $theme-main;
  $color-ext-page: $theme-grey-dark;
  z-index: 10000;
  width: 40px;
  height: 40px;
  transition: all .2s ease;
  position: absolute;
  transform: translate(-100%, -100%);

  .round-cursor {
    transition: all .2s ease;
    position: absolute;
    border-radius: 50%;
    //width: 33px;
    //height: 33px;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(.82);
    border: solid $theme-main 3px;
  }
  &.hover1 .round-cursor {
    transform: scale(.4);
    background-color: $theme-main;
  }
  &.hover2 .round-cursor {
    background-color: $theme-grey-dark;
    border-color: $theme-grey-dark;
  }
  &.hidden {
    transition: all .3s;
    opacity: 0;
  }


  $offset: 130;
  .progress-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
    stroke: $color1;
    transition: all .3s;
    opacity: 0;

    circle {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      //transition: all .2s $transition-easing;
      animation: dash 2s infinite;
    }

    @keyframes dash {
      50% {
        stroke-dashoffset: 0;
      }
      100% {
        stroke-dashoffset: -$offset;
      }
    }
  }
  &.ext-page {
    stroke: $color-ext-page;
  }
  &.loading {
    .round-cursor {
      opacity: 0;
    }
    .progress-cursor {
      opacity: 1;
    }
  }
}

.cursor-follow {
  opacity: 0;
  position: absolute;
  z-index: 10000;
  top: -100px;
  left: 0;
}
body:hover {
  .cursor-follow {
    opacity: 1;
  }
}
