<div class="description-wrapper">
    <div class="video">
        <div class="video-embed" is="cursor-hide">
            <iframe class="" src="https://www.youtube.com/embed/ClyQ-Crudio?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="description">
        <p>
            Ce <b>Reportage</b> est un projet proposé par un intervenant dans mon DUT. Il est journaliste reporter indépendant et nous a donné pour consigne de réaliser un sujet magazine de 7 minutes sur le sujet de notre choix.
        </p>
        <p>
            Nous avons décidé de traiter le sujet de la lutte contre le gaspillage alimentaire au niveau des commerçants, ce qui nous a rapidement amené à parler de l'application Too Good To Go.
        </p>
    </div>
    <div class="links">
        <a href="https://youtu.be/ClyQ-Crudio" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Voir la vidéo sur YouTube</a>
    </div>
</div>
