<div class="description-wrapper">
    <div class="video">
        <div class="video-embed" is="cursor-hide">
            <iframe class="" src="https://www.youtube.com/embed/9U8Rzpc1LQQ?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="description">
        <p>
            Lors d'un exercice en communication, nous devions imaginer une vidéo faisant l'apologie d'une théorie du complot de notre invention. Le but était d'exagérer les biais qui mènent à croire en ces théories dans le but d'aiguiser notre esprit critique.
        </p>
        <p>
            Nous avons donc élaboré une théorie en cherchant à trouver un maximum de coïncidences farfelues, et cela se trouve très facilement lorsque l'on cherche.
        </p>
        <p>
            C'était l'occasion d'adopter un format en "motion-design" pour rendre le récit visuellement attrayant et augmenter l'attention du spectateur.
        </p>
        <p>
            Sur ce projet j'ai participé à l'écriture, j'ai joué le rôle du "chercheur" interviewé et je me suis chargé de l'animation.
        </p>
    </div>
    <div class="links">
        <a href="https://youtu.be/9U8Rzpc1LQQ" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Voir la vidéo sur YouTube</a>
    </div>
</div>
