<div class="description-wrapper">
    <div class="video">
        <div class="video-embed" is="cursor-hide">
            <iframe class="" src="https://www.youtube.com/embed/TmQI84bmxGI?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="description">
        <p>
            Ce court-métrage a été réalisé pour la troisième édition du <a href="https://www.festival-jcourt.fr/" is="cursor-link" cursor-class="hover1 soften"><u>Festival J.Court</u></a> à Lyon. Nous avons écrit, tourné et monté ce film avec des amis de manière autonome. Ce fut une expérience très enrichissante.
        </p>
        <p>
            Un travail particulier a été fait sur le générique, animé en motion-design.
        </p>
        <h3>Synopsis</h3>
        <p>
            Un vétéran de l’armée russe, est infiltré dans une organisation appelée C.E.R.F.P.A.N. Lors de son infiltration, il doit interroger un prisonnier communiste, mais pas question pour lui de torturer un camarade ! A partir de maintenant, leur mission: s'évader.
        </p>
        <p>
            Mes rôles sur ce projet: <br>
        <ul>
            <li>Co-écriture</li>
            <li>Organisation du tournage</li>
            <li>Gestion du matériel et des participants</li>
            <li>Cadrage</li>
            <li>Lumières</li>
            <li>Direction d'acteurs</li>
            <li>Montage et effets spéciaux</li>
            <li>Design et animation du générique</li>
        </ul>
        <p><strong>Nota: </strong>Je me suis chargé de réaliser un DCP pour chaque film projeté lors du festival, à l'aide du logiciel libre <a href="https://dcpomatic.com/" is="cursor-link" cursor-class="hover1 soften"><u>DCP-o-matic</u></a>.</p>
    </div>
    <div class="links">
        <a href="https://youtu.be/TmQI84bmxGI" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Voir la vidéo sur YouTube</a>
    </div>
</div>
