<div class="description-wrapper">
    <div class="video">
        <div class="video-embed" is="cursor-hide">
            <iframe class="" src="https://www.youtube.com/embed/z0kg8C4YjlU?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="description">
        <p>
            Au cours de ma première année de DUT, nous avions à réaliser un micro-trottoir. Le cours est tombé juste après le prmeier weekend de mobilisation des Gilets Jaunes, c'était donc le sujet parfait pour interviewer des gens dans la rue.
        </p>
        <p>
            Nous avions un temps très limité pour réaliser ce projet, 4 heures en tout pour écrire, tourner, monter, enregistrer les voix off, etc. Cela a permis de nous forcer à l'efficacité et à éliminer le superflu.
        </p>
    </div>
    <div class="links">
        <a href="https://youtu.be/z0kg8C4YjlU" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Voir la vidéo sur YouTube</a>
    </div>
</div>
