@import "../globals/breakpoints";
@import "../globals/colors";

.portfolio-list {
  text-align: left;
  .projects-list {
    width: 100%;
    padding: 20px 8%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    //grid-row-gap: 25px;
    @include md() {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20vw;
      padding: 0 3%;
      margin: 4vw 0;
    }
  }
  .project {
    visibility: hidden;
    width: 100%;
    overflow: hidden;
    text-align: left;
    margin-bottom: 25px;
    &.transition {
      transition: all 1s $transition-easing;
    }
    .project-image {
      width: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      padding-top: 56.25%;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
    .project-title {
      text-align: left;
      font-size: 1.5em;
      margin: 10px 20px;
    }
    .project-badges {
      text-align: left;
      margin: 10px 20px;
      width: 100%;
    }
    .project-badge {
      opacity: .8;
      color: $theme-main;
      font-family: 'Raleway', sans-serif;
      font-size: .6em;
      border: solid $theme-main 1px;
      border-radius: 2px;
      padding: 5px;
    }
  }
}
