#profile {
  .profile-content {
    width: 100%;
    padding: 20px 8%;
    margin-top: 100px;
    @include md() {
      padding: 0 3%;
      margin: 100px 0 4vw;
    }

    .pan-left {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include md () {
        position: fixed;
        left: 0;
        top: 0;
        width: 39%;
        height: 100%;
        justify-content: center;
      }
    }
    .pan-right {
      position: relative;
      @include md() {
        position: absolute;
        right: 0;
        left: 59%;
        top: 0;
      }
    }
  }
}
