.project-details {
  background-color: #fff;
  .pan-left {
    pointer-events: none;
    position: fixed;
    padding-top: 50px;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
    background-color: $theme-grey-dark;
    overflow: hidden;
    transition: all .5s $transition-easing;
    .title {
      width: 100%;
      height: 120px;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      h1 {
        font-size: 1.7em;
      }
      h2 {
        font-size:1.3em;
        font-weight: 100;
      }
    }
  }
  .pan-right {
    padding-top: 400px;
    width: 100%;
    height: auto;
    color: #000;
    //background-color: #fff;
    transition: all .5s $transition-easing;
  }
  &.scrolled {
    .pan-left {
      height: 170px;
    }
    .pan-right {
      padding-top: 300px;
    }
  }
}
