.project-details {
  background-color: #fff;
  height: auto;
  .pan-left {
    & > div {
      margin: 20px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    //pointer-events: none;
    padding: 50px 0;
    left: 0;
    top: 0;
    background-color: $theme-grey-dark;
    overflow: hidden;
    transition: all .5s $transition-easing;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include md() {
      position: fixed;
      left: 0;
      top: 0;
      width: 400px;
      height: 100%;
    }
    .title {
      width: 100%;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      h1 {
        font-size: 1.7em;
      }
      h2 {
        font-size:1.3em;
        font-weight: 100;
      }
    }
    .cta {
      //margin: 20px 0;
    }
    .specs  {
      width: 100%;
      max-width: 400px;
      margin-top: 20px;
      .title {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        //text-align: left;
        font-size: 80%;
        padding: 0 20px;
        color: $theme-grey-light;
      }
      .specs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 40px;
        flex-direction: column;
        .spec {
          height: 30px;
          display: flex;
          align-items: center;
          margin: 8px 0;
          .techno {
            width: 30px;
          }
          .name {
            margin-left: 10px;
          }
        }
      }
    }
    .infos {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      width: 100%;
      color: $theme-grey-light;
      text-align: center;
      margin-top: 20px;
    }
    .nav-projects {
      .links {
        padding: 0 20px;
        display: flex;
        justify-content: center;
        a {
          margin: 0 10px;
        }
        .back {
          font-family: 'Arboria', sans-serif;
          font-weight: 400;
        }
      }
      .hints {
        width: 100%;
        .hint {
          text-align: center;
          left: 0;
          width: 100%;
          padding: 20px;
          position: absolute;
          transition: all .2s;
          opacity: 0;
          &.visible {
            opacity: 1;
          }
        }
      }
    }
  }
  .pan-right {
    left: 0;
    right: 0;
    height: auto;
    color: #000;
    background-color: #fff;
    transition: all .5s $transition-easing;
    @include md () {
      position: absolute;
      left: 400px;
      top: 0;
    }
    .description-wrapper {
      width: 100%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      @include md() {
        padding: 70px;
      }
      .images {
        margin-bottom: 30px;
        display: grid;
        grid-template-rows: 300px;
        grid-auto-rows: minmax(180px, auto);
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        &.template-single {
          grid-auto-rows: auto;
          grid-template-columns: repeat(1, 1fr);
          grid-template-areas: "first";
        }
        &.template-1 {
          grid-auto-rows: minmax(80px, auto);
          grid-template-areas: "first  first first first first"
                                "second second . . ."
                                "second second third third third"
                                ".      .      third third third";
        }
        &.template-2 {
          grid-auto-rows: minmax(80px, auto);
          grid-template-areas: "first  first first first first"
                                " . . .            second second"
                                "third third third second second "
                                "third third third .  .";
        }
        &.template-3 {
          grid-auto-rows: minmax(100px, auto);
          grid-template-areas: "first  first first first first"
                                " . . .            second second"
                                "third third third second second "
                                "third third third .  ."
                                ".   .    fourth fourth fourth";
        }
        .img-wrapper {
          cursor: pointer;
          &:nth-child(1) { grid-area: first; }
          &:nth-child(2) { grid-area: second; }
          &:nth-child(3) { grid-area: third; }
          &:nth-child(4) { grid-area: fourth; }
          &:nth-child(5) { grid-area: fifth; }
          &:nth-child(6) { grid-area: sixth; }
        }
        .img-project {
          height: 100%;
          width: 100%;
          max-height: 100%;
          object-fit: cover;
        }

      }
      .description {
        font-weight: 500;
        font-size: 1.3em;
      }
      .links {
        text-align: center;
        margin: 20px 0;
        a {
          margin: 10px 20px;
        }
      }
    }
  }
  &.scrolled {
    .pan-left {
      height: 170px;
    }
    .pan-right {
      padding-top: 300px;
    }
  }
}

