<div class="description-wrapper horizontal">
    <div class="images">
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/derby/derby-1.jpg" alt="" class="img-project"></a>
    </div>
    <div class="description">
        <p>
            Le but de l'exercice était de créer une affiche avec <b>une composition complexe</b> et un travail sur la typographie, avec des images provenant d'internet.
        </p>
        <p>
            Le sujet de l'affiche étant libre, j'ai choisi de faire une affiche pour l'événement du Derby de la Meije.
        </p>
    </div>
</div>
