<div class="description-wrapper">
    <div class="images template-unique-desc">
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/echo/echo-1.svg" alt="" class="img-project"></a>
        <div class="description">
            <p>
                Ce projet consiste en une affiche pour un festival d'Arts visuels et sonores fictif, nommé Echo.
            </p>
            <p>
                Je l'ai réalisé entièrement avec Adobe Illustrator, en utilisant des techniques de base et la typo Acier Bat.
            </p>
        </div>
    </div>
</div>
