<div class="description-wrapper">
    <div class="video">
        <video src="/user/projects/video/mac/mac.mp4" muted autoplay></video>
    </div>
    <div class="description">
        <p>
            Petit projet de cours sympathique: La consigne ? Animer un logo existant.
        </p>
        <p>J'ai choisi le logo du Musée d'Art Contemporain de Lyon, avec une animation assez simple.</p>
    </div>
</div>
