<div class="description-wrapper">
    <div class="video">
        <a is="cursor-link" style="cursor: pointer" cursor-class="hover-restart">
            <video src="/user/projects/video/mac/mac.mp4" muted autoplay onclick="this.play()"></video>
        </a>
    </div>
    <div class="description">
        <p>
            Petit projet de cours sympathique: La consigne ? Animer un logo existant.
        </p>
        <p>J'ai choisi le logo du Musée d'Art Contemporain de Lyon, avec une animation assez simple.</p>
    </div>
</div>
