<%
let fullName
let slug
const specs = {
  'no-responsive' : "PC Uniquement",
  'socket-io' : "Socket.io",
  'backoffice' : "Back Office",
    'mobile-compatible' : 'Compatible PC et Mobiles',
    'camera' : 'Tournage',
    'editing' : 'Montage',
    'checklist' : 'Écriture'
}
if (specs[locals.spec]) {
  fullName = specs[locals.spec]
  slug = locals.spec
} else {
  fullName = locals.spec
slug = fullName.toLowerCase()
}
 %>
<a is="cursor-link" data-hint="<%=fullName%>" cursor-class="dot light" class="techno t-<%= slug %>"></a>
