<%
let fullName
let slug
const specs = {
  'no-responsive' : "PC Uniquement",
  'socket-io' : "Socket.io",
  'backoffice' : "Back Office"
}
if (specs[locals.spec]) {
  fullName = specs[locals.spec]
  slug = locals.spec
} else {
  fullName = locals.spec
slug = fullName.toLowerCase()
}
 %>
<div class="spec">
    <div class="techno t-<%=slug%>"></div>
    <div class="name"><%=fullName%></div>
</div>
