
<div class="skills-block">
    <div class="skills-title" data-surtitle="Développement">Web</div>
    <div class="skills-icons">
        <a is="cursor-link" data-hint="HTML/CSS" cursor-class="dot light" class="techno t-css"></a>
        <a is="cursor-link" data-hint="Préprocesseur Sass" cursor-class="dot light" class="techno t-sass"></a>
        <a is="cursor-link" data-hint="Javascript/Typescript" cursor-class="dot light" class="techno t-typescript"></a>
        <a is="cursor-link" data-hint="jQuery" cursor-class="dot light" class="techno t-jquery"></a>
        <a is="cursor-link" data-hint="Webpack" cursor-class="dot light" class="techno t-webpack"></a>
        <a is="cursor-link" data-hint="NodeJS" cursor-class="dot light" class="techno t-node"></a>
        <a is="cursor-link" data-hint="Socket.io" cursor-class="dot light" class="techno t-socket-io"></a>
        <a is="cursor-link" data-hint="PHP" cursor-class="dot light" class="techno t-php"></a>
        <a is="cursor-link" data-hint="Python" cursor-class="dot light" class="techno t-python"></a>
    </div>
    <div class="skills-desc">
        <p>
            Mes langages de prédilection sont Javascript et Typescript, mais j'utilise beaucoup PHP et j'ai des bases en Python.
        </p>
        <p>Côté front-end je sais utiliser Webpack pour "bundler" mes fichiers source.</p>
        <p>Côté back-end, je développe en PHP ou en NodeJS. Je suis passionné par la notion de temps réel donc j'expérimente beaucoup avec Socket.io</p>
    </div>
</div>
