<div class="description-wrapper">
    <div class="images template-single">
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/colorjs/colorjs-1.jpg" alt="" class="img-project"></a>
    </div>
    <div class="description">
        <p>
            En classe de Terminale, lors d'un exposé, nous devions faire un diaporama, mais uniquement avec des logiciels libres. Les possibilités d'animations et de transitions de LibreOffice ne me convenant pas (je suis très habitué à Powerpoint), j'ai décidé d'essayer de créer un diaporama qui tourne sur une page web.
        </p>
        <p>
            Deux ans plus tard, j'ai gardé ce projet sous la forme d'une librairie. L'utilisateur tape un document HTML avec des balises simples et le script se charge de gérer les animations, le passage d'une slide à l'autre, les interactions (clavier, tactile, etc...)
        </p>
        <p>
            Un des principaux avantages de ce projet est qu'il ne nécessite pas que l'ordinateur utilisé pour la présentation dispose d'un logiciel en particulier: un navigateur suffit. De plus, un serveur utilisant <b>Socket.io</b> permet d'utiliser un autre appareil (PC, téléphone...) comme télécommande.
        </p>
        <p>
            Plus d'explications sur ce projet et la manière de l'utiliser sont disponibles dans la <a href="https://docs.colorjs.cc" target="_blank" is="cursor-link" cursor-class="hover1">documentation</a>.
        </p>
    </div>
    <div class="links">
        <a href="https://www.colorjs.cc/" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Visiter le site</a>
        <a href="https://github.com/leoboyerbx/colorjs" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Dépôt GitHub</a>
        <a href="https://docs.colorjs.cc" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Documentation</a>
<!--    </div>-->
</div>
