<div class="description-wrapper">
    <div class="images template-4">
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/live-quiz/live-quiz-1.jpg" alt="" class="img-project"></a>
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/live-quiz/live-quiz-2.jpg" alt="" class="img-project"></a>
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/live-quiz/live-quiz-4.jpg" alt="" class="img-project"></a>
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/live-quiz/live-quiz-5.jpg" alt="" class="img-project"></a>
    </div>
    <div class="description">
        <p>Ce <b>projet personnel</b> consiste en une application web qui permet de gérer un <b>quiz en temps réel</b>. Elle a été développée dans le cadre de mon poste au BDE de mon IUT. Nous voulions organiser un quiz sous forme de QCM. Chaque équipe donne une réponse dans un temps imparti et le équipes avec la meilleure réponse marquent un point.</p>
        <p>
            L'application web est divisée en 2 parties: l'écran joueur et l'écran maître du jeu. </p>
         <p>
             Le maître du jeu peut créer des équipes, gérer les scores et l'affichage des questions sur les écrans des joueurs.
        </p>
        <p>
            Chaque équipe utilise un téléphone pour jouer, elle répond directement.
        </p>
        <p>
            Tout le fonctionnement de cette application se fait en temp réel: l'envoi des questions par le maître du jeu, le calcul et l'affichage des scores... J'avais donc besoin d'une solution performante qui puisse gérer le temps réel, et je suis parti sur une base NodeJS/Express avec Socket.io pour le temps réel.
        </p>
        <p>
            Ce projet est toujours en développement, et j'ai pour objectif final de le publier et qu'il soit utilisable en réseau local avec un Raspberry Pi comme serveur par exemple.
        </p>
    </div>
    <div class="links">
        <a href="https://github.com/leoboyerbx/live-quiz" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Dépôt GitHub</a>
    </div>
</div>
