<div class="description-wrapper">
    <div class="images">
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-1.jpg" alt="" class="img-project"></a>
    </div>
    <div class="images">
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-3.jpg" alt="" class="img-project"></a>
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-6.jpg" alt="" class="img-project"></a>
    </div>
    <div class="description">
        <p>Ce <b>site vitrine</b> a été réalisé dans le cadre d'un projet de groupe en première année de DUT MMI. Le but: une semaine pour réaliser un produit de communication complet pour un client fictif, ici un Escape-Game.</p>
        <p>J'étais responsable de la gestion de projet, et du site Internet. </p>
        <p>Nous avons choisi de faire un site "one-page", avec une navigation en AJAX. Cela nous permet d'avoir une expérience utilisateur fluide. Le menu utilise un concept en "off-canvas", dans une recherche d'originalité.</p>
    </div>
    <div class="links">
        <a href="https://lockedin60.cf/" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Visiter le site</a>
        <a href="https://github.com/leoboyerbx/locked-60" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Voir le GitHub</a>
    </div>
</div>
