<div class="description-wrapper">
<!--    <div class="images template-1">-->
<!--        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-1.jpg" alt="" class="img-project"></a>-->
<!--        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-3.jpg" alt="" class="img-project"></a>-->
<!--        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/locked-60/locked-60-6.jpg" alt="" class="img-project"></a>-->
<!--    </div>-->
    <div class="description">
        <p>Qwwizzy !!! Un des best sites !</p>
    </div>
    <div class="links">
        <a href="https://lockedin60.cf/" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Visiter le site</a>
        <a href="https://github.com/leoboyerbx/locked-60" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Voir le GitHub</a>
<!--    </div>-->
</div>
