<div class="description-wrapper">
    <div class="images template-3">
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/qwwizzy/qwwizzy-1.jpg" alt="" class="img-project"></a>
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/qwwizzy/qwwizzy-4.jpg" alt="" class="img-project"></a>
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/qwwizzy/qwwizzy-3.jpg" alt="" class="img-project"></a>
        <a is="cursor-link" cursor-class="zoom" class="img-wrapper"><img is="lightbox-img" src="/user/projects/img/qwwizzy/qwwizzy-2.jpg" alt="" class="img-project"></a>
    </div>
    <div class="description">
        <p>Ce <b>site internet dynamique</b> a été réalisé dans le cadre d'un projet dans mon DUT. Le consigne était de créer un site qui interagisse avec une base de données.</p>
        <p>Nous avons choisi de nous inspirer du concept de <a href="https://quipoquiz.com/" target="_blank", is="cursor-link" cursor-class="hover1"><u>QuipoQuiz</u></a>, des questions de culture générale. Le joueur répond à 10 questions sur le thème de son choix et obtient un score.</p>
        <p>Le plus gros du travail était sur la création d'un back-office complet pour administrer le contenu du thème. Nous avons utilisé une structure MVC, mais sans framework, ce qui m'a permis de très bien comprendre les problématiques résolues par des frameworks tels que Symfony ou Laravel.</p>
    </div>
    <div class="links">
        <a href="https://qwwizzy.cf/" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Visiter le site</a>
        <a href="https://github.com/leoboyerbx/qwwizzy" target="_blank" class="button" is="cursor-link" cursor-class="hover1 dark">Dépôt GitHub</a>
<!--    </div>-->
</div>
