<section class="content-wrapper text-center portfolio-list">
    <header class="header graphisme">
        <div class="svg-text-wrapper">
            <!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In  -->
            <svg class="svg-text graphisme"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="1388.22px" height="242.5px" viewBox="0 0 1388.22 242.5" style="enable-background:new 0 0 1388.22 242.5;"
                 xml:space="preserve">
                <defs>
                </defs>
                <g>
                    <path class="st0 letter-gmaj" d="M0,111.15C0,59.22,39.86,17.4,95.99,17.4c25.54,0,47.99,8.98,64.55,23.3l-24.42,26.66
		c-12.63-11.23-25.54-14.31-39.29-14.31c-31.72,0-55.85,25.82-55.85,58.1c0,32.56,23.58,58.38,55.85,58.38
		c17.4,0,32-7.86,41.82-18.24v-26.66h-30.87V95.99h66.8v70.73c-16,23.86-45.47,38.45-78.31,38.45C40.14,205.17,0,163.35,0,111.15z"
                    />
                    <path class="st0 letter-r" d="M206.02,61.75h37.05v26.94c3.93-11.51,18.24-29.75,49.12-29.75v40.98c-32.56,0-48.56,14.88-48.56,48.28v53.89
		h-37.61V61.75z"/>
                    <path class="st0 letter-a" d="M307.34,131.92c0-40.42,24.7-72.97,63.43-72.97c16.28,0,33.68,6.46,43.78,19.93V61.75h36.77v140.33h-36.77
		v-16.84c-9.82,13.47-27.51,19.65-43.78,19.65C332.04,204.89,307.34,172.33,307.34,131.92z M413.71,131.92
		c0-21.89-14.03-38.17-33.4-38.17c-20.21,0-34.8,16.28-34.8,38.17c0,22.17,14.59,38.17,34.8,38.17
		C399.68,170.09,413.71,154.37,413.71,131.92z"/>
                    <path class="st0 letter-p" d="M479.95,61.75h35.65v16.84c11.51-13.75,28.07-19.65,44.91-19.65c38.73,0,63.43,32.56,63.43,72.69
		c0,40.7-25.26,73.25-63.99,73.25c-16.28,0-32.28-6.46-42.38-18.8v56.41h-37.61V61.75z M585.49,131.92
		c0-22.17-14.31-38.17-34.8-38.17c-19.09,0-33.4,15.72-33.4,38.17c0,22.17,14.03,38.17,33.4,38.17
		C571.17,170.09,585.49,154.09,585.49,131.92z"/>
                    <path class="st0 letter-h" d="M648.36,17.4h37.61v62.03c10.95-14.59,26.38-20.49,43.22-20.49c36.49,0,49.96,23.01,49.96,62.31v80.83h-37.61
		v-76.06c0-20.49-6.17-31.44-24.7-31.44c-19.93,0-30.87,16-30.87,36.21v71.29h-37.61V17.4z"/>
                    <path class="st0 letter-i" d="M802.45,22.45C802.45,10.1,812.55,0,824.62,0c12.35,0,22.45,10.1,22.45,22.45c0,12.07-10.1,22.17-22.45,22.17
		C812.55,44.63,802.45,34.52,802.45,22.45z M806.1,61.75h37.61v140.33H806.1V61.75z"/>
                    <path class="st0 letter-s" d="M865.04,185.8l13.47-28.91c9.54,7.3,22.73,14.88,43.78,14.88c8.7,0,23.01-3.37,23.01-11.79
		s-12.07-10.38-24.14-13.75c-27.79-7.3-50.52-16.56-50.52-43.5c0-28.63,28.07-43.78,54.45-43.78c23.01,0,37.61,5.61,52.21,14.03
		l-12.63,28.07c-13.75-6.74-26.66-9.82-39.01-9.82c-8.7,0-16.84,3.93-16.84,9.82c0,7.86,11.79,10.38,24.7,13.19
		c23.86,5.61,49.96,16,49.96,44.63c0,34.52-35.08,46.03-61.19,46.03C892.26,204.89,872.9,193.1,865.04,185.8z"/>
                    <path class="st0 letter-m" d="M1005.94,61.75h36.77v18.8c8.14-12.63,24.7-21.61,41.54-21.61c22.17,0,35.93,9.26,43.22,24.98
		c10.1-16.84,29.47-24.98,45.47-24.98c39.58,0,51.92,27.22,51.92,63.15v79.99h-37.61v-75.22c0-18.52-4.49-32.28-24.42-32.28
		c-18.52,0-28.63,14.88-28.63,33.4v74.1h-37.61v-75.22c0-18.52-4.21-32.28-24.42-32.28c-19.09,0-28.63,16.28-28.63,34.8v72.69
		h-37.61V61.75z"/>
                    <path class="st0 letter-e" d="M1247.32,131.92c0-40.42,31.43-72.97,72.69-72.97c38.17,0,68.2,32.56,68.2,72.41c0,6.74-0.84,13.47-0.84,13.47
		h-101.88c4.49,19.37,20.49,28.63,39.01,28.63c13.47,0,27.51-3.93,37.89-10.95l14.03,26.94c-15.72,10.38-33.96,15.44-52.21,15.44
		C1283.25,204.89,1247.32,178.23,1247.32,131.92z M1352.85,119.85c-2.81-17.68-16.84-29.47-33.96-29.47
		c-16.28,0-30.31,11.79-33.96,29.47H1352.85z"/>
                </g>
</svg>
        </div>
        <a href="/" onmouseover="document.querySelector('.svg-text-wrapper').classList.add('del')" onmouseout="document.querySelector('.svg-text-wrapper').classList.remove('del')" class="header-close i-link" is="cursor-link" cursor-class="closing" >
            <div class="cross">
                <div class="x-bar"></div>
                <div class="x-bar"></div>
            </div>
        </a>

    </header>
    <!--            <img src="/assets/" alt="">-->

    <div class="projects-list">
        <% if(locals.projects) {
                for (const project of projects) {%>
            <%-include('./components/project', { path: project.path, img: project.imgPath, title: project.title, tags: project.tags })%>
        <% }} %>
    </div>

</section>
