<section class="content-wrapper text-center portfolio-list">
    <header class="header audiovisuel">
        <div class="svg-text-wrapper">

            <!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In  -->
            <svg class="svg-text audiovisuel" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="1474.4px" height="204.9px" viewBox="0 0 1474.4 204.9" style="enable-background:new 0 0 1474.4 204.9;"
                 xml:space="preserve">
    <g>
        <path class="st0 letter-amaj" d="M79.1,20.2h38.7L197,202.1h-39.9l-12.3-28.9H52.5l-12.3,28.9H0L79.1,20.2z M132.5,142.6l-21.1-51.9
    c-5.6-13.8-12.6-32-12.9-32.6c-0.3,0.6-7.3,18.8-12.9,32.6l-21.1,51.9H132.5z"/>
        <path class="st0 letter-u" d="M207.4,145.7V61.7H245v78.9c0,19.6,8.4,28.6,25.8,28.6c19.6,0,29.2-16.6,29.2-35.6V61.7h37.6v140.3h-35.4
    v-19.6c-8.4,13.8-27.5,22.5-43.8,22.5C219.8,204.9,207.4,182.2,207.4,145.7z"/>
        <path class="st0 letter-d" d="M362.1,131.9c0-40.4,25.3-73,64-73c16.3,0,32.3,6.5,42.4,18.5V17.4h37.6v184.7h-35.6v-16.8
    c-10.1,13.5-28.1,19.6-44.9,19.6C386.8,204.9,362.1,172.3,362.1,131.9z M468.4,131.9c0-21.9-14-38.2-33.4-38.2
    c-20.2,0-34.8,16.3-34.8,38.2c0,22.2,14.6,38.2,34.8,38.2C454.4,170.1,468.4,154.4,468.4,131.9z"/>
        <path class="st0 letter-i" d="M531,22.5C531,10.1,541.1,0,553.2,0c12.3,0,22.5,10.1,22.5,22.5c0,12.1-10.1,22.2-22.5,22.2
    C541.1,44.6,531,34.5,531,22.5z M534.7,61.7h37.6v140.3h-37.6V61.7z"/>
        <path class="st0 letter-o" d="M596.7,131.9c0-40.7,33.1-73,74.9-73c42.1,0,75.2,32.3,75.2,73c0,40.7-33.1,73-75.2,73
    C629.8,204.9,596.7,172.6,596.7,131.9z M708.4,131.9c0-21.9-15.7-38.2-36.8-38.2s-36.8,16.3-36.8,38.2c0,22.2,15.7,38.2,36.8,38.2
    S708.4,154.1,708.4,131.9z"/>
        <path class="st0 letter-v" d="M754.7,61.7h37.6l26.1,72.1c5.3,14.6,9.8,29.2,10.4,31.2c0.3-2,5.1-17.1,10.1-30.9L865,61.7h37.3l-55.3,140.6
    h-37L754.7,61.7z"/>
        <path class="st0 letter-i" d="M915,22.5C915,10.1,925.1,0,937.2,0c12.3,0,22.5,10.1,22.5,22.5c0,12.1-10.1,22.2-22.5,22.2
    C925.1,44.6,915,34.5,915,22.5z M918.6,61.7h37.6v140.3h-37.6V61.7z"/>
        <path class="st0 letter-s" d="M977.6,185.8l13.5-28.9c9.5,7.3,22.7,14.9,43.8,14.9c8.7,0,23-3.4,23-11.8s-12.1-10.4-24.1-13.8
    c-27.8-7.3-50.5-16.6-50.5-43.5c0-28.6,28.1-43.8,54.5-43.8c23,0,37.6,5.6,52.2,14l-12.6,28.1c-13.8-6.7-26.7-9.8-39-9.8
    c-8.7,0-16.8,3.9-16.8,9.8c0,7.9,11.8,10.4,24.7,13.2c23.9,5.6,50,16,50,44.6c0,34.5-35.1,46-61.2,46
    C1004.8,204.9,985.4,193.1,977.6,185.8z"/>
        <path class="st0 letter-u" d="M1116.5,145.7V61.7h37.6v78.9c0,19.6,8.4,28.6,25.8,28.6c19.6,0,29.2-16.6,29.2-35.6V61.7h37.6v140.3h-35.4
    v-19.6c-8.4,13.8-27.5,22.5-43.8,22.5C1128.9,204.9,1116.5,182.2,1116.5,145.7z"/>
        <path class="st0 letter-e" d="M1271.2,131.9c0-40.4,31.4-73,72.7-73c38.2,0,68.2,32.6,68.2,72.4c0,6.7-0.8,13.5-0.8,13.5h-101.9
    c4.5,19.4,20.5,28.6,39,28.6c13.5,0,27.5-3.9,37.9-10.9l14,26.9c-15.7,10.4-34,15.4-52.2,15.4
    C1307.1,204.9,1271.2,178.2,1271.2,131.9z M1376.7,119.8c-2.8-17.7-16.8-29.5-34-29.5c-16.3,0-30.3,11.8-34,29.5H1376.7z"/>
        <path class="st0 letter-l" d="M1436.8,17.4h37.6v184.7h-37.6V17.4z"/>
    </g>
</svg>
        </div>
        <a href="/" onmouseover="document.querySelector('.svg-text-wrapper').classList.add('del')" onmouseout="document.querySelector('.svg-text-wrapper').classList.remove('del')" class="header-close i-link" is="cursor-link" cursor-class="closing" >
            <div class="cross">
                <div class="x-bar"></div>
                <div class="x-bar"></div>
            </div>
        </a>

    </header>
    <!--            <img src="/assets/" alt="">-->

    <div class="projects-list">
        <% if(locals.projects) {
                for (const project of projects) {%>
            <%-include('./components/project', { path: project.path, img: project.imgPath, title: project.title, tags: project.tags })%>
        <% }} %>
    </div>

</section>
